<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot = "start">
      {{salonName}}
    </ion-title>
    <ion-item slot = "end" lines = "none" *ngIf = "selectedLocation">
      <ion-icon name="pin"></ion-icon>
      <ion-label >{{selectedLocation}}</ion-label>
  
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "dataLoaded">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

  <div id = "pinnedReview">

    <ion-list>

      <ion-item id = "firstPart">
          <star-rating value="3.6" checkedcolor="blue" uncheckedcolor="black" size="16px" readonly="true"></star-rating>
      </ion-item>

      <ion-item id = "thirdPart">
        <ion-button>Arată toate review-urile</ion-button>
      </ion-item>

    </ion-list>

  </div>

  <div id="servicesWrapper">
    <div class="categoryService" *ngFor = "let category of servicesTags">
      <ion-list>
        <ion-item class="titleCategory">
            <p><b>{{category}}</b></p>
        </ion-item>

        <mat-accordion>

          <mat-expansion-panel *ngFor = "let service of servicesByCategory[category]" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{service.service}}
              </mat-panel-title>
              <mat-panel-description>
                
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h5>Stilisti</h5>
            <p *ngFor = "let worker of service.workers">
              {{worker}},<ion-button size = "small" *ngIf = "daysWithDuration[worker]" (click) = "book({service: service.service, date:getFirstDateViaWorker(worker, service.duration), stylist:worker})">{{getFirstDateViaWorker(worker, service.duration)}}</ion-button> , <ion-button size = "small" (click) = "book({service: service.service, stylist:worker})">Alta data</ion-button>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-list>
    </div>
  </div>

  <agm-map [latitude]="salonData.position.geopoint.latitude" [longitude]="salonData.position.geopoint.longitude" [zoom] = "13">
      <agm-marker [latitude]="salonData.position.geopoint.latitude" [longitude]="salonData.position.geopoint.longitude"></agm-marker>
  </agm-map>


  
</ion-content>

<ion-content *ngIf = "!dataLoaded">
  <ion-list *ngIf = "!dataLoaded">
        <ion-item *ngFor = "let x of [1, 2, 3, 4, 5, 6, 7]">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>   
  </ion-list>
</ion-content>