<ion-content>
  <ion-list>

    <ion-item>
        <ion-label>Limbă</ion-label>
        <ion-select value="language" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="Română">Română</ion-select-option>

        </ion-select>
    </ion-item>

    <ion-item>

        <ion-label>Monedă</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="RON">RON</ion-select-option>

        </ion-select>
    </ion-item>

  </ion-list>

</ion-content>