<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button (click) = "backClicked()">
      <ion-icon name="arrow-round-back"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content id = "wrapper">
  <div>
    <h1><b>Autentificare</b></h1>
    <p id = "info">la contul Saloo cu e-mailul dumneavoastră</p>
    <form #form = "ngForm" (submit) = "sendValues(form.value)">
      <ion-item>
        <ion-label position="floating">Adresă de e-mail</ion-label>
        <ion-input type = "email" ngModel name = "email"></ion-input>
      </ion-item>


      <ion-item id="passwordWrapper">
        <ion-label position="floating">Parolă</ion-label>
        <ion-input [type] = "eyeType == 'eye' ? 'text' : 'password'" name = "password" ngModel id="password"></ion-input>
        <ion-icon [name]="eyeType" slot = "end" (click) = "changeEye()"></ion-icon>
      </ion-item>

      <ion-button expand="block" type = "submit">Autentificare</ion-button>

    </form>
    <p id = "passwordForgot"><a>Aţi uitat parola?</a></p>
  </div>
</ion-content>