<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title slot = "start">
        Programare <span *ngIf = "salonName">la {{salonName}}</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf = "dataLoaded && !error">

    <ion-button expand="full" (click) = "addService()">
      Adaugă un serviciu
      <ion-icon slot="end" name="add-circle-outline"></ion-icon>
    </ion-button>

    <ion-list>

        <ion-list-header>
          <ion-label>Serviciile alese</ion-label>
        </ion-list-header>


  <mat-accordion>

  <mat-expansion-panel *ngFor = "let serviceChoosen of servicesUsed">

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{serviceChoosen.serviceName}}
        </mat-panel-title>

        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Stilist selectat: {{serviceChoosen.styilistSelected}}</p>
      <p>Durata: {{serviceChoosen.duration}} min</p>
      <h5>Optiuni selectate</h5>
      <p *ngFor = "let option of serviceChoosen.optionsSelected">{{option.optionName}}</p>

      <ion-button size = "small" color="danger" (click) = "deleteService(serviceChoosen)">Şterge</ion-button>

  </mat-expansion-panel>

  </mat-accordion>



    </ion-list>

    <mat-form-field class="example-full-width" id = "dateChoose">
        <input matInput [matDatepicker]="picker" [min]="minDate" [(ngModel)] = "dateSelected" placeholder="Alege o dată" (ngModelChange)="onChangeTime()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker (selectedChanged)="onChangeTime()"></mat-datepicker>
    </mat-form-field>
    
    <p *ngIf = "!queryData && servicesUsed.length">
      selecteaza o data
      <!-- Inca nu ai selectat nicio dată, incearcă pe <ion-button (click) = "changeDateTo(getFirstDateViaWorker(selectedStylist))">{{getFirstDateViaWorker(selectedStylist)}}</ion-button> -->
    </p>

    <p *ngIf = "queryData && servicesUsed.length && !slotsAvailable">
        nu sunt sloturi available
        <!-- Inca nu ai selectat nicio dată, incearcă pe <ion-button (click) = "changeDateTo(getFirstDateViaWorker(selectedStylist))">{{getFirstDateViaWorker(selectedStylist)}}</ion-button> -->
    </p>

    <p>
      Durată totală: {{totalDuration}}
    </p>
  
    <p>
      Pret total: {{totalMoney}}
    </p> 

    <h2 *ngIf = "slotsAvailable &&  queryData && justOneStylist">Program valabil</h2>
    <ion-list *ngIf = "slotsAvailable &&  queryData && justOneStylist">
      <ion-item *ngFor = "let slot of slotsAvailable">
        {{slot}}
        <ion-button slot = "end" (click) = "presentAlertConfirm(slot)">Programeaza-te</ion-button>
      </ion-item>
    </ion-list>

    <div *ngIf = "!justOneStylist && mergedServicesByStylist.length > 1">

      <h3>Program legat</h3>
      <p *ngFor = "let slots of slotsConsecutive">
        <span *ngFor = "let slot of slots">
          {{slot }}
        </span>
      </p>

      <h3>Program nelegat</h3>
      <p *ngFor = "let slots of slotsNotConsecutive">
        <span *ngFor = "let slot of slots">
          {{slot }}
        </span>
      </p>

    </div>

    

  </ion-content> 

  <ion-content *ngIf = "!dataLoaded">
    <ion-list *ngIf = "!dataLoaded">
          <ion-item *ngFor = "let x of [1, 2, 3, 4, 5, 6, 7]">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>   
    </ion-list>
  </ion-content>

