<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title slot = "start">
        Programare <span *ngIf = "salonName">la {{salonName}}</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf = "dataLoaded && !error">

    <ion-button expand="full" (click) = "addService()">
      Adaugă un serviciu
      <ion-icon slot="end" name="add-circle-outline"></ion-icon>
    </ion-button>

    <ion-list>
      <ion-radio-group [(ngModel)] = "selectedService" (ionChange) = "changeServiceSelected($event.detail.value)">
        <ion-list-header>
          <ion-label>Serviciile alese</ion-label>
        </ion-list-header>
    
        <ion-item *ngFor = "let service of servicesAvailable">
          <ion-label>{{service}}</ion-label>
          <ion-radio slot="start" value="{{service}}"></ion-radio>
        </ion-item>

        <mat-accordion>

          <mat-expansion-panel *ngFor = "let serviceChoosen of servicesUsed">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{serviceChoosen.name}}
              </mat-panel-title>
              <mat-panel-description>
                
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Stilist selectat: {{serviceChoosen.stylist}}</p>
            <h5>Optiuni selectate</h5>
            <p *ngFor = "let option of serviceChoosen.options">{{option}}</p>
          </mat-expansion-panel>
        </mat-accordion>
    

      </ion-radio-group>
    </ion-list>

    <ion-list>
        <ion-radio-group [(ngModel)] = "selectedStylist" (ionChange) = "changeWorkerSelected($event.detail.value)">
          <ion-list-header>
            <ion-label>Stilisti</ion-label>
          </ion-list-header>
      
          <ion-item *ngFor = "let worker of workersAvailable">
            <ion-label>{{worker}}</ion-label>
            <ion-radio slot="start" value="{{worker}}"></ion-radio>
          </ion-item>
      

        </ion-radio-group>
    </ion-list>


    <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" [min]="minDate" [(ngModel)] = "dateSelected" placeholder="Choose a date" (ngModelChange)="onChangeTime()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker (selectedChanged)="onChangeTime()"></mat-datepicker>
    </mat-form-field>
    
    <p *ngIf = "!queryData">
      <!-- Inca nu ai selectat nicio dată, incearcă pe <ion-button (click) = "changeDateTo(getFirstDateViaWorker(selectedStylist))">{{getFirstDateViaWorker(selectedStylist)}}</ion-button> -->
    </p>

    <h2 *ngIf = "slotsAvailable">Program valabil</h2>
    <ion-list>
      <ion-item *ngFor = "let slot of slotsAvailable">
        {{slot}}
        <ion-button slot = "end" (click) = "presentAlertConfirm(slot)">Programeaza-te</ion-button>
      </ion-item>
    </ion-list>

  </ion-content> 

  <ion-content *ngIf = "!dataLoaded && !error">
    <ion-list *ngIf = "!dataLoaded">
          <ion-item *ngFor = "let x of [1, 2, 3, 4, 5, 6, 7]">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>   
    </ion-list>
  </ion-content>

  <ion-content *ngIf = "error">

    <ion-item>
        <ion-label>Serviciul ales</ion-label>
        <ion-input [(ngModel)] = "selectedService" [disabled] = "locked"></ion-input>
        <ion-icon name="unlock" *ngIf = "locked" slot = "end" (click) = "locked = !locked"></ion-icon>
        <ion-icon name="lock" *ngIf = "!locked" slot = "end" (click) = "locked = !locked"></ion-icon>
      </ion-item>
  
      <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" [min]="minDate" [(ngModel)] = "dateSelected" placeholder="Choose a date" (ngModelChange)="onChangeTime()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker (selectedChanged)="onChangeTime()"></mat-datepicker>
      </mat-form-field>

    <h2>Ceva nu a mers bine</h2>
  </ion-content>