<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Saloo
    </ion-title>
    <ion-button shape = "round" fill = "none" slot = "end"><ion-icon name="notifications-outline"></ion-icon></ion-button>
    <ion-button shape = "round" fill = "none" slot = "end"><ion-icon name="more"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id = "firstPartWrapper">

    <div id = "contentWrapper">

      <p>   
          <b>Descoperă şi programează-te la saloanele noastre favorite</b>
      </p>

      <p>Ce</p>

      <ion-item lines = "full" class = "questionMarker">
          <ion-input type="text" name = "search"  placeholder = "Service, Stylist sau Salon"></ion-input>
          <ion-icon name="search" slot = "start"></ion-icon>
      </ion-item>

      <p>Unde</p>

      <ion-item lines = "full" class = "questionMarker">
          <ion-input type="text" name = "search"  placeholder = "Oraş sau Judeţ"></ion-input>
          <ion-icon name="search" slot = "start"></ion-icon>
      </ion-item>

      <p>Când</p>

      <ion-item lines = "full" class = "questionMarker">
          <ion-input type="text" name = "search"  placeholder = "Oricând"></ion-input>
          <ion-icon name="search" slot = "start"></ion-icon>
      </ion-item>

    </div>

  </div>

</ion-content>
