.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-content{

  mat-slider {
    width: 300px;
  }
  
  .whatSearch{

    width:80% !important;
    margin:auto;
    mat-form-field{
      width:100% !important;

      mat-autocomplete{
        width:100% !important;

      }

      input{
        width:100% !important;
      }
    }
  }
  
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  
    .card {
      display: inline-block;
      width:50%;
    }
  }

  .scrolling-wrapper {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .box{
    margin:12px 0px;
    background-color: white;

    .innerbox{
      padding:10px 0px 10px 10px;

      img{
        width:100%;
        border-radius: 5px;
      }
    }

    h2{
      padding:10px 0px;
    }
  }

    agm-map{
      height: 300px;
    }

    #firstPartWrapper{
      padding:10px;
      background-color:beige;
      width:100%;
      background-image: url('/assets/pictures/girlAtSaloon.jpg') !important;
      background-size: cover;

      #contentWrapper{

        margin:20px 7px;
        background-color:white;
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
        border-radius:4px;
        padding:10px;

        ion-item{

          .questionMarker{
            border: 1px grey;
            border-radius:2px;
          }
          
      }

      }

    }
  
}

